.footer {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid lightgray;
  bottom: 0;
  display: flex;
  height: 45px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.footer__wrapper {
  display: flex;

  .material-icons {
    cursor: pointer;
  }
}

// .footer__add-button {
//   background-color: black;
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   padding: 10px;
//   text-transform: uppercase;
// }

// .footer__login-button {
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   margin-left: 20px;
//   padding: 10px;
//   text-transform: uppercase;
// }

// .footer__login-button {
//   background-color: rgb(78, 240, 78);
// }
