<div class="post">
  <div class="post__header">
    <div class="post__header-first-tier">
      <img class="post__avatar" [src]="post.ownerPhotoUrl" alt="{{post.owner}}">
      <h3>{{post.owner}}</h3>
    </div>
    <button class="post__delete" *ngIf="post.uid === user?.uid" (click)="delete(post.id, post.uid)">
      <i class="material-icons">delete</i>
    </button>
  </div>
  <img class="post__img" [src]="post.imageUrl" alt="User Picture">
  <h4 class="post__text"><strong>{{post.owner}}</strong> {{post.caption}}</h4>
</div>
