.post {
  background-color: #fff;
  border: 1px solid lightgrey;
  margin-bottom: 45px;
  max-width: 500px;

  h3,
  h4,
  p {
    margin: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
  }
}

.post__img {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  object-fit: contain;
  width: 100%;
}

.post__text-wrapper {
  margin-left: 20px;
  padding-bottom: 10px;
}

.post__text {
  font-weight: normal;
}

.post__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.post__avatar {
  border-radius: 50%;
  height: 35px;
  margin-right: 10px;
  width: 35px;
}

.post__header-first-tier {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.post__delete {
  background-color: transparent;
  border: none;
  color: red;
}

.material-icons {
  cursor: pointer;
}

.post__likes {
  font-weight: 700;
}
