.delete__modal-btn {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.delete__modal-backdrop {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.delete__modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  left: 50%;
  height: fit-content;
  max-width: 400px;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  z-index: 10;
}

.delete_modal-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;
}

.delete__modal {
  padding: 10px;

  p {
    margin: 0;
  }
}

.delete__modal-confirm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
